.bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }
  .bg-container .animeBg {
    position: relative;
    display: flex;
    height: 100%; }
    .bg-container .animeBg img {
      flex: 1 1 10%; }
  .bg-container .animeBg-narrow {
    position: fixed;
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 5vw;
    justify-content: space-around; }
    .bg-container .animeBg-narrow img {
      flex: 1 1 10%; }
    .bg-container .animeBg-narrow .space-hodler {
      display: flex;
      flex: 5 1 50%; }
