@import 'var';

.chatbox-container{
  margin: 8vh auto 22vh auto;
  padding: $md-pw $lg-pw;
  max-width: 76vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 9px;
  background-color: $chat-con-bgcolor; // $background-color;
  box-shadow: -1px 2px 28px 1px rgba(155, 155, 155, 0.35);

  .bub-fullwidth{
    &:after{
      content: "";
      clear: both;
      display: block;
    }
  }

  .bot-bubble{
    text-align: left;
    background: $bot-bub-color;
    max-width: 40rem;
    padding: $bub-pw;
    border-radius: $bub-radius;
    position: relative;
    // box-shadow: -1px 2px 2px 1px rgba(155, 155, 155, 0.2);
    margin-bottom: $md-pw;

    p{
      margin: $text-pw auto;
      font-size: $bub-text-size;
    }
    .bot-tail-left{
      width: auto;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }

  .imgbub-container{
    margin: $md-pw;
  }

  .left-bubble{
    float: left;
  }
}
