.chatbox-container {
  margin: 8vh auto 22vh auto;
  padding: 1.4rem 2rem;
  max-width: 76vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 9px;
  background-color: #FFF;
  box-shadow: -1px 2px 28px 1px rgba(155, 155, 155, 0.35); }
  .chatbox-container .bub-fullwidth:after {
    content: "";
    clear: both;
    display: block; }
  .chatbox-container .bot-bubble {
    text-align: left;
    background: #f7f7f7;
    max-width: 40rem;
    padding: 0.8rem 1.8rem;
    border-radius: 1.2rem;
    position: relative;
    margin-bottom: 1.4rem; }
    .chatbox-container .bot-bubble p {
      margin: 0.3rem auto;
      font-size: 1.125rem; }
    .chatbox-container .bot-bubble .bot-tail-left {
      position: absolute;
      left: 0;
      bottom: -10px; }
  .chatbox-container .imgbub-container {
    margin: 1.4rem; }
  .chatbox-container .left-bubble {
    float: left; }
