/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/
/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("../fonts/SanFranciscoDisplay-Black.otf"); }

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("../fonts/SanFranciscoDisplay-Bold.otf"); }

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("../fonts/SanFranciscoDisplay-Heavy.otf"); }

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("../fonts/SanFranciscoDisplay-Light.otf"); }

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("../fonts/SanFranciscoDisplay-Medium.otf"); }

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("../fonts/SanFranciscoDisplay-Regular.otf"); }

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("../fonts/SanFranciscoDisplay-Semibold.otf"); }

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("../fonts/SanFranciscoDisplay-Thin.otf"); }

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("../fonts/SanFranciscoDisplay-Ultralight.otf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "SF Display", Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  body .root-container {
    text-align: center; }

html {
  font-size: 62.5%;
  /* Extra small devices (phones, 600px and down) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 87.5%;
      /* 0.875 of 16px = 14px */ } }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 100%;
      /*  16px */ } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 112.5%;
      /* 1.125 of 16px = 18px */ } }
